[submodule "submodules/async"]
	path = submodules/async
	url = https://github.com/caolan/async.git
[submodule "submodules/node_redis"]
	path = submodules/node_redis
	url = https://github.com/mranney/node_redis
[submodule "submodules/cidr_match.js"]
	path = submodules/cidr_match.js
	url = https://github.com/skx/cidr_match.js
