[submodule "submodules/async"]
	path = submodules/async
	url = https://github.com/caolan/async.git
[submodule "submodules/node_redis"]
	path = submodules/node_redis
	url = https://github.com/mranney/node_redis
